<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="GamesSqlUser"
			providerName="System.Data.ProviderName"
			connectionString="Server=DESKTOP-9AU98GQ\SQLEXPRESS; Database=GAMES_Db; User Id=gamesdefaultuser; Password=123;"/>

		<add name="GamesWindowsAuth"
			providerName="System.Data.ProviderName"
			connectionString="Server= DESKTOP-9AU98GQ\SQLEXPRESS; Database= GAMES_Db; Integrated Security=True;"/>
	</connectionStrings>
</configuration>